<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <!--    <link href="<c:url value='/resources/css/style.css'/>" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <style>

    </style>
</head>
<body>
<!-- Modal Content -->
<form class="modal-content animate" action="http://localhost:8080/login" method="post">
    <div class="imgcontainer">
        <img th:src="@{/img/img_avatar2.png}" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>


        <div>
            <img th:src="${captchaEncode}">
        </div>
        <div>
            <label for="captcha"><b>captcha</b></label>
            <input type="captcha" placeholder="Enter captcha" name="captcha" required>
        </div>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>


    </div>
    <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
            Cancel
        </button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>

</body>

</html>